@font-face {
  font-family: "Akira";
  src: url("../../assets/fonts/akira_expanded/Akira-Expanded-Demo.otf")
    format("opentype");
}

h1 {
  font-family: "Akira", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0em 0em 1em 0em;
}

.contentHomePage {
  width: 100%;
  height: 250vh;
  margin: auto;
}

.image {
  background: url("../../assets/crossfit-power-weight-lifting.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin: 0px;
  width: 100%;
  height: 65vh;
}

.freeTest {
  background-color: #eb242baf;
  padding: 0.7em;
  margin: 0px;
}

.choicePlanes {
  color: black;
  padding: 2em 0em;
  background-color: rgb(255, 255, 255);
}

.planes {
  display: flex;
  justify-content: space-around;
}

.planesPay {
  background: url("../../assets/ARENACFsimbolTOPNAME.jpg");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 1em;
  width: 300px;
  height: 400px;
  box-shadow: -10px 10px 1px rgba(255, 0, 0, 0.61);
  transition: 0.7s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.iconPrice {
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.904);
  padding: 1em;
  width: 80%;
  height: 80%;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.planePrice {
  font-size: 20pt;
}

.price {
  color: #eb242b;
  font-size: 20pt;
  background-color: rgb(0, 0, 0);
  padding: 0.5em;
  border-radius: 5px;
}

.teacher {
  padding: 3em;
  height: 70vh;
  background-color: black;
}

.teacher h1 {
  margin-bottom: 2em;
}

.flexTeachers {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: auto;
}

.teachers {
  display: flex;

  width: 40vw;
  height: 100%;

  box-shadow: 1px 1px 7px rgba(255, 255, 255, 0.329);
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.555);
}

.T1{
  background: url('../../assets/quell.png');
}

.T2{
  background: url('../../assets/dani.png');
}

.picTeacher {
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;


  width: 20vw;
}

.textTeacher {
  background-color: rgba(255, 255, 255, 0.589);
  margin: 2em;
  border-radius: 1em;
  
  width: 20vw;

}

@media screen and (max-width: 1050px) {
  .planesPay {
    width: 200px;
    height: 300px;
    font-size: 10pt;
  }

  .planePrice {
    font-size: 15pt;
  }

  .price {
    font-size: 15pt;
  }
}

@media screen and (max-width: 900px) {
  .image {
    background: url("../../assets/crossfit-power-weight-lifting.jpg");
    background-position: top center center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0px;
    width: 100%;
    height: 60vh;
  }
}

@media screen and (max-width: 765px) {
  .planes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .planesPay {
    margin-top: 15px;
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  .image {
    background: url("../../assets/ARENACFsimbol\ cel.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin: 0px;
    width: 100%;
    height: 60vh;
  }

  .freeTest {
    font-size: 14pt;
    width: 100%;
    background-color: #eb242baf;
    padding: 0.7em;
    margin: 0px;
  }
}

@media screen and (max-width: 450px) {
  .planesPay {
    margin-top: 15px;
    width: 250px;
    height: 150px;
  }

  .iconPrice {
    height: 70%;
  }

  .planePrice {
    transform: translateY(20px);
  }
}
