@font-face {
  font-family: "Akira";
  src: url("../../assets/fonts/akira_expanded/Akira-Expanded-Demo.otf")
    format("opentype");
}

.navbar {
  background-color: black;
  height: 10vh;
  width: 100%;
  transition: 0.7s;
  padding: 0.5em 0em;

  display: flex;
  align-items: center;
  justify-content: space-around;
  color: red;
  font-family: "Akira", Arial, Helvetica, sans-serif;
}
.nameAndSimbol {
  height: 100%;
  font-size: 20pt;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarMobile {
  display: none;
  position: fixed;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 10px;

  display: flex;
  align-items: center;
}

.list a{
  color: white;
  text-decoration: none;
  transition: .7s;
}

.list a:hover{
  background-color: red;
}

.itemList {
  margin-right: 10px;
}

img {
  width: 5vw;
  height: 100%;
  margin-right: 15px;
}

@media screen and (max-width: 1050px) {
  .navbar {
    display: none;
  }

  .navbarMobile {
    font-family: "Akira", Arial, Helvetica, sans-serif;
    color: red;
    background-color: black;
    border-right: 1px solid white;

    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    z-index: 99;
    transition: 0.7s;
  }

  img {
    margin: 0px;
    width: 100%;
  }

  .simbolMobile {
    width: 100%;
    text-align: center;
  }

  .clicked {
    width: 35vw;
  }

  .listMobile {
    list-style: none;
    padding: 0px;
    margin: 0px;
    transition: 0.7s;
  }

  @keyframes widthHeight {
    0% {
      width: 0vw;
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0px);
      width: 35vw;
    }
  }

  @keyframes go-out {
    100% {
      width: 0vw;
      transform: translateX(-200px);
    }
    0% {
      transform: translateX(0px);
      width: 35vw;
    }
  }

  .menu {
    color: white;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid white;
  }

  .displayShow {
    animation: widthHeight 1s;
    opacity: 1;
    z-index: 98;
  }

  .displayNone {
    animation: go-out 1s;
    opacity: 0;
    z-index: -1;
  }

  .menu svg {
    font-size: 25pt;
    cursor: pointer;
  }

  .itemMobile {
    font-size: 10pt;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 426px) {
  .menu svg {
    font-size: 20pt;
  }

  .itemMobile {
    font-size: 9pt;
  }
}

@media screen and (max-width: 426px) {
  .itemMobile {
    font-size: 8pt;
    font-weight: 200;
  }
}

@media screen and (max-height: 420px) {
  .simbolMobile {
    width: 60%;
  }
}

@media screen and (max-height: 400px) {
  .simbolMobile {
    width: 50%;
  }
}
@media screen and (max-height: 305px) {
  .simbolMobile {
    width: 45%;
  }
}
